# dependencies
node_modules/

# next.js
.next/
out/

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os
.DS_Store
Thumbs.db

# ide
.vscode/
.idea/

# heavy local media (non versionné)
public/src/video/video2.mp4
public/src/video/video9.mp4
